<h1>Index</h1>

<ul id="posts">
<% @posts.each do |post| %>
 <li>
<%= link_to post.title, posts_path(post), class: 'post_title' %>
</li>
<% end %>
</ul>
<%= link_to 'Create a new post', new_post_path, class: 'new_post' %>